@font-face {
    font-family: '';
    src: url('TmoneyRoundWind-ExtraBoldA1.eot');
    src: url('TmoneyRoundWind-ExtraBoldA1.eot?#iefix') format('embedded-opentype'),
        url('TmoneyRoundWind-ExtraBoldA1.woff2') format('woff2'),
        url('TmoneyRoundWind-ExtraBoldA1.woff') format('woff'),
        url('TmoneyRoundWind-ExtraBoldA1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('TmoneyRoundWind-RegularA1.eot');
    src: url('TmoneyRoundWind-RegularA1.eot?#iefix') format('embedded-opentype'),
        url('TmoneyRoundWind-RegularA1.woff2') format('woff2'),
        url('TmoneyRoundWind-RegularA1.woff') format('woff'),
        url('TmoneyRoundWind-RegularA1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

